@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "./components/navbar/navbar.css";
@import "./pages/projects/projects.css";
@import "./pages/about_me/aboutme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

*, html {
  scroll-behavior: smooth !important;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.homeOverlay {
  background: radial-gradient(circle,
      rgba(63, 63, 70, 0) 60%,
      rgba(255, 255, 255, 1) 100%);
}

.dark .homeOverlay {

  background: radial-gradient(circle,
      rgba(63, 63, 70, 0.2) 0%,
      rgba(0, 0, 0, 0.8) 100%);
}

.SeparatorRoot[data-orientation="horizontal"] {
  height: 1px;
  width: 100%;
}

.SeparatorRoot[data-orientation="vertical"] {
  height: 100%;
  width: 1px;
}

.indicator-line {
  @apply h-1 w-1 rounded-full bg-neutral-500 transition-all duration-300 ease-in-out;
}

.indicator-line.active {
  animation: indicator-line 0.5s ease infinite;
  animation-delay: calc(var(--animation-order) * 0.1s);
}

@keyframes indicator-line {
  0% {
    height: 4px;
    transform: translateY(-0px);
  }

  50% {
    height: 16px;
    transform: translateY(-4px);
  }

  100% {
    height: 4px;
    transform: translateY(-0px);
  }
}

.fade {
  opacity: 0;
  animation: fade 5s ease forwards;
}

@keyframes fade {
  to {
    opacity: 1
  }
}

@layer utilities {
  .grid-container {
    @apply w-full h-full border border-neutral-300 dark:border-neutral-700 rounded-xl overflow-hidden flex flex-col drop-shadow-lg;
  }

  .grid-headtext {
    @apply text-xl font-semibold mb-2;
  }

  .grid-subtext {
    @apply text-base;
  }

  .copy-container {
    @apply cursor-pointer flex justify-center items-center gap-2;
  }
}